<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <h1>My Grocery List</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <% arrayOfGroceries.forEach(item => { %>
                <li> <%=item %>  </li>
           <% }) %>
        </ul>
    </body>
</html>